@import '../../ui/colors';
@import '../../ui/constants';

.main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #a8ff78; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    135deg,
    #f1fffe,
    #ccfffa
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    135deg,
    #f1fffe,
    #ccfffa
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  .box {
    height: 80vh;
    width: 90%;
    display: flex;
    gap: 3rem;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f8fafb;
    border-radius: $borderRadius;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    .imagewrapper {
      width: fit-content;
      height: 85%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      h2 {
        font-size: 3.5rem;
        color: $buttonbackground;
        margin-bottom: 2rem;
      }

      img {
        height: 80%;
      }
    }

    .form {
      width: 360px;
      height: 80%;
      padding: 40px 30px;
      display: flex;
      flex-direction: column;
      background-color: #fff;
      border-radius: $borderRadius;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;

      .loginselector {
        width: fit-content;
        background-color: #def1ef;
        border-radius: 30px;
        margin-bottom: 3rem;

        button {
          padding: 9px 20px;
          outline: none;
          border: none;
          border-radius: 30px;
          background-color: transparent;
          cursor: pointer;
          font-size: 1.2rem;
        }

        .selected {
          background-color: $buttonbackground;
          color: #fff;
        }
      }

      form {
        button {
          margin-top: 2rem;
          width: 100%;
          padding: 9px 20px;
          outline: none;
          border: none;
          border-radius: 5px;
          // background-color: $buttonbackground;
          background-image: linear-gradient(
            to right,
            #02a1a7 0%,
            #00cdac 51%,
            $buttonbackground 100%
          );
          color: #fff;
          cursor: pointer;
          font-size: 1.1rem;
          font-weight: 600;
          transition: 0.5s;
          background-size: 200% auto;
          box-shadow: 0 0 20px #eee;

          &:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }
        }
      }
    }
  }
}
