@import '../../ui/colors';
@import '../../ui/constants';

.main {
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  .box {
    height: 80vh;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8fafb;
    border-radius: $borderRadius;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    .imagewrapper {
    }

    .form {
      width: 320px;
      height: 75%;
      padding: 40px 30px;
      display: flex;
      flex-direction: column;
      background-color: #fff;
      border-radius: $borderRadius;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;

      .loginselector {
        width: fit-content;
        background-color: #def1ef;
        border-radius: 30px;
        margin-bottom: 3rem;

        button {
          padding: 9px 20px;
          outline: none;
          border: none;
          border-radius: 30px;
          background-color: transparent;
          cursor: pointer;
          font-size: 1.2rem;
        }

        .selected {
          background-color: $buttonbackground;
          color: #fff;
        }
      }

      form {
        button {
          margin-top: 2rem;
          width: 100%;
          padding: 9px 20px;
          outline: none;
          border: none;
          border-radius: $borderRadius;
          background-color: $buttonbackground;
          color: #fff;
          cursor: pointer;
          font-size: 1.1rem;
          font-weight: 500;
        }
      }
    }
  }
}
