@import '../../ui/colors';

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f8fafb;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
  z-index: 100;

  button {
    margin: 12px 15px;
    padding: 7px 20px;
    outline: none;
    border: none;
    background-color: $buttonbackground;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
  }
}
