@import '../../ui/colors';

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f8fafb;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  z-index: 100;

  button,
  .button {
    margin: 12px 15px;
    padding: 7px 20px;
    outline: none;
    border: none;
    // background-color: $buttonbackground;
    background-image: linear-gradient(
      to right,
      #02a1a7 0%,
      #00cdac 51%,
      $buttonbackground 100%
    );
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    background-size: 200% auto;
    box-shadow: 0 0 20px #eee;

    &:hover {
      background-position: right center; /* change the direction of the change here */
      color: #fff;
      text-decoration: none;
    }
  }
}
