.select {
  font-size: 1.2rem;
  margin-right: 10px;
}

.role {
  font-size: 1.1rem;
  outline: none;
  border: none;
  padding: 5px 20px;
  border-radius: 10px;
  background-color: #def1ef;
  cursor: pointer;
}
