@import '../../ui/colors';

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;

  form {
    width: 400px;
    padding: 30px 20px;
    background-color: #fff;
    border-radius: 5px;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;

      h3 {
        font-size: 1.5rem;
      }
    }

    button {
      margin-top: 2rem;
      width: 100%;
      padding: 10px 0px;
      outline: none;
      border: none;
      border-radius: 5px;
      // background-color: $buttonbackground;
      background-image: linear-gradient(
        to right,
        #02a1a7 0%,
        #00cdac 51%,
        $buttonbackground 100%
      );
      color: #fff;
      cursor: pointer;
      font-size: 1.1rem;
      font-weight: 600;
      transition: 0.5s;
      background-size: 200% auto;
      box-shadow: 0 0 20px #eee;

      &:hover {
        background-position: right center; /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
      }
    }
  }
}
