@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');
@import './ui/colors';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

/* Custom Scroll Bar */

::-webkit-scrollbar {
  width: 7px;
  height: 6px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: $buttonbackground;
  border-radius: 4px;
}
